@{
    Layout = "_Layout_Admin";
}

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="section-header">
    <h1>Dashboard</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/Admin/Dashboard">Dashboard</a></div>
    </div>
</div>

<div class="section-body">
    <h2 class="section-title">Hello, Welcome back Bro !</h2>
    <p class="section-lead">Welcome to our dashboard pages. Just explore whatever you want !</p>
    
</div>

