@model HollyProject.Models.Role

@{
    Layout = "_Layout_Admin";
}

@{
    ViewData["Title"] = "Role User";
}

<div class="section-header">
    <h1>Role User</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/Admin/Dashboard">Dashboard</a></div>
        <div class="breadcrumb-item active"><a href="/Admin/Role">Role</a></div>
    </div>
</div>


<div class="section-body">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="role" class="control-label" style="font-size: 18px"></label>
                                    <input asp-for="role" class="form-control" />
                                    <span asp-validation-for="role" class="text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a asp-action="Index" class="pl-2">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
