@{
    Layout = "_Layout_Admin";
}

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="section-header">
    <h1>Blank Page</h1>
</div>

<div class="section-body">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>

