@{
    Layout = "_Layout_HomePage";
}

@{
    var session = (User) ViewData["session"];
    var hotels = (List<Hotel>) ViewData["hotels"];
}

<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(../../img/bg-img/16.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Transaction processed !</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item">
                                Thank you for ordering to this hotel. Your transaction still in processed, See the details on 
                                <a href="/Book/History" style="color: #1cc3b2;">History Transaction</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->

@section scripts {
    <script>

	</script>
}